
{% extends 'base.html' %}

{% block content %}
<div class="sidebar">
    <a href="http://127.0.0.1:8000/pakistan/" class="user-button bg-pakistan">Pakistan</a>
    <a href="http://127.0.0.1:8000/Japan/" class="user-button bg-japan">Japan</a>
    <a href="http://127.0.0.1:8000/India/" class="user-button bg-india">India</a>
    <a href="http://127.0.0.1:8000/India/" class="user-button bg-nepal">Nepal</a>
    <a href="http://127.0.0.1:8000/Iran/" class="user-button bg-iran">Iran</a>
    <a href="http://127.0.0.1:8000/Afghanistan/" class="user-button bg-afghanistan">Afghanistan</a>
    <a href="http://127.0.0.1:8000/China/" class="user-button bg-china">China</a>
    <a href="http://127.0.0.1:8000/Southeast/" class="user-button bg-southeast">Southeast</a>
</div>
<div class='background-div'>

</div>
{% endblock %}
